# Pakistan Flood 2022 Data Analysis

# Introduction

<p>In the wake of the devastating floods that struck Pakistan in 2022, this project aims to shed light on the unprecedented climate catastrophe, emphasizing the critical need for immediate action. The calamity, exacerbated by heavier monsoon rains and melting glaciers, underscores the profound impact of climate change on vulnerable regions. Through data-driven insights, we strive to generate awareness, prompt urgent measures, and contribute to understanding and mitigating the far-reaching consequences of such natural disasters.</p>

# Problem Statement

<p>The floods of 2022 in Pakistan pose a multifaceted challenge, causing widespread destruction, loss of life, and displacement. The intertwined factors of climate change, inadequate infrastructure, and economic vulnerabilities amplify the severity of the crisis. Addressing urgent issues such as healthcare, food shortages, and displaced populations becomes paramount. This project aims to unravel the complexities of the disaster, seeking solutions to mitigate its immediate and long-term impacts on affected communities.</p>

# Objectives

1. Uncover the intricate patterns and trends within the 2022 flood data.
2. Examine the socio-economic and health crises triggered by the floods.
3. Highlight the immediate and long-term impacts on infrastructure, agriculture, and livelihoods.
4. Propose insights for effective disaster management and climate resilience.
5. Advocate for awareness and urgent action from local and international stakeholders.

# About The Data

<p>The dataset used in this project encapsulates the aftermath of the 2022 floods in Pakistan, capturing the toll on lives, infrastructure, and the economy. With variables detailing casualties, injuries, damages, and regional impacts, the data serves as a lens into the magnitude of the disaster. Derived from National Disaster Management Authority (NDMA) records and on-the-ground reports, the dataset is a comprehensive repository facilitating in-depth analysis and storytelling to drive understanding and awareness about the floods' profound implications.</p>

# Importing Necessary Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from wordcloud import WordCloud, STOPWORDS

In [2]:
ndmaData = pd.read_csv('Dataset/Pakistan_Flood_2022_Data_By_NDMA.csv')

In [3]:
df = pd.DataFrame(ndmaData)

# Loading Data and Convert Into a DataFrame

In [4]:
df.head()

,Region,Total deaths,M_D,F_D,C_D,total_injured,M_I,F_I,C_I,Roads_damaged(km),Bridges damaged,Total_houses_damaged,livestock_damaged,Affected population
0,AJ&K,48,31,17,0,24,15,9,0,0,0,548,792,53700
1,Balochistan,299,136,73,90,181,92,40,49,1850,22,65997,500000,9182616
2,GB,22,5,11,6,6,3,0,3,16,65,1211,0,51500
3,ICT,1,1,0,0,0,0,0,0,0,0,0,0,0
4,KP,306,149,41,116,369,156,79,134,1575,107,91463,21328,4350490

# Exploratory Data Analysis

# Stories Crafting and Trends Visualizations

## 1. Total Deaths Across Different Regions.

## 2. Deaths Grouped By Gender.

## 3. Total Injuries Across Different Regions.

## 4. Injuries Grouped by Gender.

## 5. Impacts of Flood: Houses Damage Accross Different Regions.

## 6. Impacts of Flood: Affected Population Accross Different Regions.

## 7. Impacts of Flood: Livestock Damage Accross Different Regions.

## 8. Impacts of Flood: Roads Damage Accross Different Regions.

## 9. Impacts of Flood: Bridges Damage Accross Different Regions.

## 10. Scatter Plot: Houses Damaged vs Affected Population.

## 11. Violin Plot: Injuries Distribution Accross Different Regions.

## 12. Area Chart: Total Impacts Over All Regions.